<h1>Conditions lookup reached for these companies</h1>

<div class="companies">
    {% for symbol in notifyResult.symbols() %}
        <div class="company {{ symbol }}"
             style="border:1px solid gray;
                    margin-bottom: 8px;
                    padding: 16px"
        >
            {% set company = notifyResult.companyForSymbol(symbol) %}
            <h2>
                {{ company.info('NAME') | first }}
                <small class="symbol"
                       style="font-weight: bold"
                >
                    (<a href="{{ company.info('URL') | first }}">{{ symbol }}</a>)
                </small>
            </h2>

            <ul class="policy-conditions"
                style="border-radius: 5px;
                       padding: 6px"
            >
                {% for condition in notifyResult.conditionNamesForSymbol(symbol) %}
                    <li>{{ condition }}</li>
                {% endfor %}
            </ul>

            <div>
                <span class="price">
                    Current price:
                    <span class="formatted-price"
                          style="color: darkred;
                                 font-weight: bold"
                    >
                        {{ company.info('CURRENCY')['symbol'] }}
                        {{ company.info('PRICE')['fmt'] }}
                        ({{ company.info('CURRENCY')['currency'] }})
                    </span>
                </span>
                <span class="change"
                      style="border-radius: 5px;
                             border:1px solid lightgray;
                             padding: 6px"
                >
                    {{ company.info('CHANGE')['fmt'] }}
                    ({{ company.info('CHANGE_PERCENT')['fmt'] }})
                </span>
            </div>

            <h3>Latest News</h3>
            <div class="all-news"
                 style="padding: 4px"
            >
                {% for news in company.info('NEWS') %}
                    <div class="news"
                         style="border-bottom:1px solid lightgray;
                                border-top:1px solid lightgray;
                                margin: 0 10px 0 10px;"
                    >
                        <h5>{{ news.datetime }} <small>{{ news.timezone }}</small></h5>
                        <h4>{{ news.title | raw }}</h4>
                        <p>
                            {{ news.summary | raw }}
                            <a href="{{ news.url }}">Read more</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
